html, body {
    height: 100%;
}

/* ======================================== */
/*   Navigation   */
/* ======================================== */

.navbar {
    background-color: #263238;
}

.top-nav-collapse {
    background-color: #263238;
}

.nav-item {
    margin-left: 2.5rem;
}

/* ======================================== */
/*   Carousel   */
/* ======================================== */

.carousel {
    height: 50%;
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* ======================================== */
/*   Sticky Footer   */
/* ======================================== */

footer.page-footer {
    background-color: #263238;
}

.body-wrap {
    display: flex;
    flex-direction: column;
}

.content-area {
    flex: 1;
}

.dbbutton {
    margin-left: 2rem;
}

.squeeze {
    height: 100px;
}

/* ======================================== */
/*   Map  */
/* ======================================== */
#map {
    height: 600px;
    width: 600px;
}

/* ======================================== */
/*   Forms  */
/* ======================================== */

.md-form label.active {
    font-size: .8rem;
    -webkit-transform: translateY(-80%);
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    transform: translateY(-80%);
    color: #dddddd;
}

.form-control {
    padding: 0;
}

h4 {
    margin-bottom: 1.5rem;
}

#res-form {
    margin-top: 10px;
}

#res-card {
    margin-top: 25px;
}

/* ======================================== */
/*   Parsley Validation  */
/* ======================================== */

.parsley-required,
.parsley-type,
.parsley-pattern,
.parsley-minlength {
    color: red;
    font-size: 0.75rem;
    position: relative;
    top: -13px;
}

.filled {
    margin: 0;
}

.btn-success {
    font-size: larger;
    padding: .25rem;
}

/* ======================================== */
/*   Media Queries  */
/* ======================================== */

/*!* Landscape tablets and medium desktops *!*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*!* Portrait tablets and small desktops *!*/
@media (min-width: 768px) and (max-width: 991px) {
    .nav-item {
        margin-left: .5rem;
    }
}

/*!* Landscape phones and portrait tablets *!*/
@media (min-width: 481px) and (max-width: 767px) {
    #pet-title {
        margin-top: 2.5em;
    }

    .marquee {
        width: 75%;
    }

}

/*!* Portrait phones and smaller *!*/
@media (max-width: 480px) {
    #pet-title {
        margin-top: 2.5em;
    }

    .marquee {
        width: 75%;
    }
}

/* ======================================== */
/*   DASHBOARD SPECIFIC */
/* ======================================== */

#dashboard-nav {

}

.db-function {
    position: relative;
    top: 15vh;
}
