html, body {
    height: 100%;
}

.navbar {
    background-color: #263238;
}

.top-nav-collapse {
    background-color: #263238;
}

/**********  Sticky Footer  ***********/

.carousel {
    height: 50%;
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/**********  Sticky Footer  ***********/

footer.page-footer {
    background-color: #263238;
}

.body-wrap {
    display: flex;
    flex-direction: column;
}

.content-area {
    flex: 1;
}

.dbbutton {
    margin-left: 2rem;
}

.squeeze {
    height: 200px;
}

/***************  Forms  **************/

.md-form label.active {
    font-size: .8rem;
    -webkit-transform: translateY(-80%);
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    transform: translateY(-80%);
    color: #dddddd;
}

.form-control {
    padding: 0;
}

h4 {
    margin-bottom: 1.5rem;
}

#res-form {
    margin-top: 10px;
}

#res-card {
    margin-top: 25px;
}

/******** Parsley Validation  *********/

.parsley-required,
.parsley-type,
.parsley-pattern,
.parsley-minlength {
    color: red;
    font-size: 0.75rem;
    position: relative;
    top: -13px;
}

.filled {
    margin: 0;
}

.btn-success {
    font-size: larger;
    padding: .25rem;
}


