html,
body {
    height: 100%;
}

.navbar {
    /*background-color: transparent;*/
    background-color: #263238;
}

.top-nav-collapse {
    background-color: #263238;
}

footer.page-footer {
    background-color: #263238;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*Caption*/

.flex-center {
    color: #fff;
}

/*******************************************/

.md-form label.active {
    font-size: .8rem;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-80%);
    color: #dddddd;
}

.form-control {
    /*padding: .4rem 0 0.4rem;*/
    padding: 0;
}

h4 {
    margin-bottom: 1.5rem;
}

#res-form {
    margin-top: 10px;
}

#res-card {
    margin-top: 25px;
}


.body-wrap {
    display: flex;
    flex-direction: column;
}
.content-area {
    flex: 1;
}

.dbbutton {
    margin-left: 2rem;
}

.squeeze {
    height: 200px;
}